:root{
    --h1-size: 2.5rem;
    --h2-size: 1.625rem;
    --h3-size: 1.3rem;
    --p-size: 1rem;

    --lightblue: #95bef9;
    --blue: #2c72d5;
    --darkblue: #1d4f95;
    --yellow: #f6c34a;

    --backgroundcolor: #ffffffe3;
}

@font-face{
    font-family: 'Inter';
    src: url(assets/alpha/Inter-VariableFont_slnt,wght.woff2) format('woff2');
}

h1{
    color: var(--blue);
    font-family: 'Inter', monospace, sans-serif;
    size: var(--h1-size);
    margin-bottom: .25rem;
}
h2{
    color: var(--darkblue);
    font-family: 'Inter', monospace, sans-serif;
    size: var(--h2-size);
    margin-top: .25rem;
}
h3{
    font-family: 'Inter', monospace, sans-serif;
    font-weight: 550;
    size: var(--h3-size);
}
h4{
    font-family: 'Inter', monospace, sans-serif;
    font-weight: 400;
    font-style: italic;
}
p, li{
    font-family: 'Inter', monospace, sans-serif;
    size: var(--p-size);
}
a{
    color: var(--blue);
    font-family: 'Inter', monospace, sans-serif;
    text-decoration-color: var(--yellow);
}

body{
    margin: 20px;
}

.title{
    text-align: center;
}

.section{
    background-color: var(--lightblue);
    border: 1rem;
    border-radius: 10px;
    padding:.5rem;
}

.section_title{
    color: var(--blue);
    margin: .5rem 0rem .25rem 0rem;
}

.notes{
    display: grid;
    grid-template-columns: 1;
    column-gap: 10px;
    margin: 0rem 0rem 1rem 0rem;
    row-gap: 10px;

}
.images{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    max-width: 100%;
}

.images__image{
    border:solid 3px var(--blue);
    border-radius: 5px;
    width: 100%;
}



@media (min-width: 620px) {
    .notes{
        grid-template-columns: 1fr 1fr;
    }
    .images{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .notes, .images{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}